<!DOCTYPE html>
<html lang="en">

    <%- include ('404-head.ejs') %>

<body class="error-body">
    <h1 class="h1-404"><span>4</span><span>0</span><span>4</span></h1>
    <p class="text-404">The magic stopped working...</p>
    <img src="/public/img/no-magic.png" alt="Broken wand image">
</body>
</html>