
        <%- include('header'); -%>

    <main class="chat">
        <section class="chat_window">
            <div class="top_chat_window">
                <div class="title">Chat</div>
            </div>
            <ul id="messages" class="messages">
                <% Chats.forEach(function(chat){ %>
                <li><%= chat.message %></li>
                <span><%= chat.sender %></span>
                <% }) %>
            </ul>

            <div class="bottom_chat_window clearfix">
                <i id="typing"></i>
                <form id="form">
                    <div class="message_input_wrapper">
                        <input id="message" class="message_input" placeholder="Typ een bericht" required
                            autocomplete="off" />
                    </div>
                    <div class="send_message">
                        <button>
                            <img src="/img/sendicon.png" alt="send-icon">
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <%- include('includes/footer'); -%>
    </footer>
</body>

</html>