<form method="POST" action="/submit-form" enctype="multipart/form-data"> 
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br> 
        <label for="color">Background Color:</label>
        <input type="color" id="color" name="color" value="#ff6161">
        <br>
        <label for="font">Font Family:</label>
        <select id="font" name="font">
          <option value="Arial">Arial</option>
          <option value="Times New Roman">Times New Roman</option>
          <option value="Verdana">Verdana</option>
        </select>
        <br>
        <label for="font-color">Text Color:</label>
        <input type="color" id="font-color" name="font-color" value="#000000">
        <br>
        <label for="image">Image:</label>
        <input type="file" id="image" name="image">
        <br>
        <button type="submit" action="POST">Save Theme</button>  
    </form>

