<form class="themeBuilder" method="POST" action="/theme/nieuwThema" enctype="multipart/form-data">
  <label for="name">Thema naam:</label>
  <input type="text" id="name" name="name" required>
  <br>
  <label for="color">Achtergrond Kleur:</label>
  <input type="color" id="color" name="color" value="#ff6161">
  <br>
  <label for="font">Thema-font:</label>
  <select id="font" name="font">
    <option value="Arial">Arial</option>
    <option value="Times New Roman">Times New Roman</option>
    <option value="Verdana">Verdana</option>
  </select>
  <br>
  <label for="font-color">Thema Tekst/Iconen kleur:</label>
  <input type="color" id="font-color" name="font-color" value="#000000">
  <br>
  <label for="image">+ Profielfoto uploaden</label>
  <input type="file" id="image" name="image">
  <br>
  <button type="submit" action="POST">Thema Opslaan</button>
</form>