<%- include('header.ejs') %>
<div>
<section>
    <h1>Leren met StudS!</h1>
    <img src="../public/img/studs_logo" alt="StudS logo">
    <p>Onze app is ontworpen om jou te helpen bij het vinden van de juiste assistent
        voor jouw studiebehoeften.</p>
</section>
<section>
    <button>Aanmelden met Google</button>
    <span>of</span>
    <button>Aanmelden met Studielink</button>
    <a href="/registerquestion">Nog geen account? Registreer</a>
</section>
</div>
<div>
    <img src="../public/img/workspace_img" alt="Workspace">
</div>

<%- include('footer.ejs') %>