<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/profiel2.css" />
</head>

<body>
  <section class="fb-post">
    <ul>
      <li><a href="#">Vak 1</a></li>
      <li><a href="#">Project 1</a></li>
      <li><a href="#">Team Project 1</a></li>
    </ul>
    <section class="fb-post-streep"></section>
    <section class="fb-post-header">
      <img src="../public/img/profielfoto.png" alt="Profielfoto" />
      <section class="fb-post-header-info">
        <h3>StudS</h3>
        <p>Leerjaar 1</p>
        <p>1 min. geleden</p>
      </section>
    </section>
    <section class="fb-post-content">
      <p>
        Welkom bij StudS! Wij verbinden studenten en student-assistenten op een platform waar ze elkaar kunnen vinden en
        helpen. Tijdens je registratie geef je als student aan welke vakken je volgt, en als student-assistent welke
        vakken je wilt ondersteunen. Uiteindelijk voor een tijdlijn gegenereerd waar beide partijen elkaar kunnen
        bereiken doormiddel van posts, chat berichten en andere vormen van contacten!
      </p>
      <a href="#">
        <img src="../public/img/thumbsup.svg" alt="Thumbs up" />
        Vind ik leuk
      </a>
    </section>
    <section class="fb-post-footer">
      <a href="#">
        <img src="../public/img/thumbsup.svg" alt="Thumbs up" />
        Vind ik leuk
      </a>
      <a href="#">
        <img src="../public/img/bericht.svg" alt="Comment" />
        Opmerkingen
      </a>
      <a href="#">
        <img src="../public/img/repost.svg" alt="Repost" />
        Delen
      </a>
    </section>
  </section>
</body>

</html>