<%- include('header.ejs') %>
<main>
    <section class="questionStarterTop">
        <h2>Nieuw bij StudS!</h2>
        <p>We gaan je helpen registeren om deel te maken van ons systeem! We willen wel eerst weten…
        </p>
    </section>
    <section class="registerStart">
        <h1>Meld jij je aan als student of student-assistent?</h1>
        <div>
            <a href="/account/studentRegister">
                <img src="img/studentImg.svg" alt="student">
                <span>Student</span>
            </a>
            <a href="/account/studentRegister">
                <img src="img/studentAssistentImg.svg" alt="student">
                <span>Student-assistent</span>
            </a>
        </div>
    </section>
</main>
<%- include('footer.ejs') %>