<body>
    <section class="sidebar">

        <ul>
            <!-- Profiel foto -->
            <li><img class="sidebarImg" src="/public/img/placeholderuser.png" /></li>
            <!-- user naam -->
            <li>
                <h2><%= user.name %> <%= user.surname %></h2>
            </li>
            <!-- button moet gelinkt worden naar eigen profiel -->
            <li><a href="/account" class="profileButton">Mijn profiel</a></li>
            <li><a href="#" class="messageButton">Bericht maken</a></li>
            <li><a href="#" class="settingsButton">Instellingen</a></li>
            <li>
                <p>Versie 1.0</p>
            </li>
        </ul>

    </section>
</body>

</html>