<%- include('header.ejs') %>
<main>
    <section class="studentReg">
        <h1>
            Student bij StudS!
        </h1>
        <p>
            Top! We zijn altijd blij om nieuwe studenten bij Studs welkom te heten
        </p>
        <h2>
            <%= subtitle %>
        </h2>
        <form action="/account/studentRegister" method="POST" id="formStudent">
            <section class="questionStart">
                <h2>Wat is je naam?</h2>
                <input type="text" id="name" name="name">
                <!-- <button class="forwardStart"><img src="../public/img/forward_arrow" alt="proceed"></button> -->
            </section>
            <section class="questionSecond">
                <h2>Wat is je achternaam?</h2>
                <input type="text" id="surname" name="surname">
                <!-- <button class="forwardSecond"><img src="../public/img/forward_arrow" alt="proceed"></button> -->
            </section>
            <section class="questionThird">
                <h2>Kies nu in welk leerjaar je zit:</h2>
                <label for="leerjaar1">
                    <input type="radio" name="leerjaar" id="leerJaar1" value="1">
                    <span>1</span>
                </label>
                <label for="leerjaar2">
                    <input type="radio" name="leerjaar" id="leerJaar2" value="2">
                    <span>2</span>
                </label>
                <label for="leerjaar3">
                    <input type="radio" name="leerjaar" id="leerJaar3" value="3">
                    <span>3</span>
                </label>
                <!-- <button class="forwardThird"><img src="../public/img/forward_arrow" alt="proceed"></button> -->
            </section>
            <section class="questionFourth">
                <h2>Wat is je e-mailadres?</h2>
                <input type="email" id="email" name="email">
                <!-- <button class="forwardFourth"><img src="../public/img/forward_arrow" alt="proceed"></button> -->
            </section>
            <section class="questionFifth">
                <h2>Wat is je wachtwoord</h2>
                <div>
                    <input type="password" id="password" name="password">
                    <input type="password" id="confirm_password" name="confirm_password"
                        placeholder="Herhaal Wachtwoord">
                </div>
                <!-- <button class="forwardFifth"><img src="../public/img/forward_arrow" alt="proceed"></button> -->
            </section>
            <!-- <div class="progression">
        <ul>
            <li>Stap een</li>
            <li>Stap twee</li>
            <li>Stap drie</li>
            <li>Stap vier</li>
            <li>Stap vijf</li>
        </ul>
    </div> -->
            <input type="submit" value="Register">
        </form>

    </section>
</main>
<%- include ('footer.ejs') %>