@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

@font-face {
  font-family: "Poppins";
  src: url("../fontfaces/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fontfaces/Poppins-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fontfaces/Poppins-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fontfaces/Poppins-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-main: "Poppins", sans-serif;
  --font-size-h1: 2em;
  --font-size-h2: 1.5em;
  --font-header-margin: 0.5em 0;
  --font-weight-header: bold;
  --font-color-header: #714eb6;
  --font-size-body: 0.875em;
  --font-color-body: #000000;
  --font-weight-body: 400;
  --background-color: #ffffff;
  --font-form-p: #707070;
  --font-form-p-margin: 0.25em 0;
  --filter-li-bg: #714eb6;
  --purple-button: #7353d1;
  --purple-shade: #f2eeff;
  --white: #fff;
  --black: black;
  --white-tint: #e2e2e2;
  --unlike: #9182c0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-overflow-hidden {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  font-family: var(--font-main);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  color: var(--font-color-body);
  background-color: var(--background-color);
}

header {
  display: flex;
  box-shadow: black 2px;
  position: sticky;
  z-index: 999;
}

header nav {
  background-color: rgb(255, 255, 255);
  box-shadow: #3900882f 2px 2px 20px;
}

header nav img {
  width: 10%;
  margin-left: 4em;
  margin-top: 1.5em;
  padding-bottom: 1em;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-header);
  color: var(--font-color-header);
  margin: var(--font-header-margin);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-header);
  color: var(--font-color-header);
  margin: var(--font-header-margin);
}

p {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  color: var(--font-color-body);
}

/* Css van Quinten */
body main section.preRegister {
  width: 50dvw;
  margin-left: auto;
  margin-right: calc(30% - 25dvw);
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body main section.preRegister img {
  order: -1;
  width: 75%;
}

body main section.preRegister p {
  max-width: 75%;
  min-width: 60%;
  font-size: 1.25rem;
  color: var(--font-form-p);
  font-weight: 400;
  margin: var(--font-form-p-margin);
  text-align: center;
}

body main section.preRegister section {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  align-items: center;
  margin-top: 1em;
}

body main section.preRegister section button {
  width: 100%;
  height: 3em;
  padding: 0.5em;
  font-size: 1.25;
  font-weight: 200;
}

body main section.preRegister section button:nth-of-type(1) {
  width: 100%;
  height: 3em;
  padding: 0.5em;
  font-size: 1.25;
  font-weight: 200;
  background-color: #ffffff;
  border: 1px solid #707070;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #707070;
}

body main section.preRegister section button:nth-of-type(2) {
  background-color: #4a58c4;
  border: none;
  color: #ffffff;
}

body main section.preRegister section span {
  font-size: 0.875rem;
  color: var(--font-form-p);
  font-weight: 200;
  margin: var(--font-form-p-margin);
  text-align: center;
  position: relative;
}

body main section.preRegister section span::before {
  content: "";
  width: 5.75em;
  height: 1px;
  position: absolute;
  background-color: #707070;
  top: 6px;
  left: -6.25em;
}

body main section.preRegister section span::after {
  content: "";
  width: 5.75em;
  height: 1px;
  position: absolute;
  background-color: #707070;
  top: 6px;
  right: -6.25em;
}

body main section.preRegister section a:last-of-type {
  font-size: 0.875rem;
  color: var(--font-form-p);
  font-weight: 400;
  margin: var(--font-form-p-margin);
  text-align: center;
}

body main section.preRegister form {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  align-items: center;
  margin-top: 1em;
}

body main section.preRegister form input[type="email"],
body main section.preRegister form input[type="password"] {
  width: 100%;
  height: 3em;
  padding: 0.5em;
  font-size: 1.25;
  font-weight: 200;
  background-color: #ffffff;
  border: 1px solid #707070;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #707070;
}

body main section.preRegister form input[type="submit"] {
  background-color: #4a58c4;
  border: none;
  color: #ffffff;
  width: 100%;
  height: 3em;
  padding: 0.5em;
  font-size: 1.25;
  font-weight: 200;
}

body main section.preRegister form input[type="submit"]:hover {
  font-weight: 400;
  border: 1px solid white;
  cursor: pointer;
}

body main section.preRegister div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body main section.preRegister div button {
  background-color: #707070;
  border: none;
  color: #ffffff;
  width: 50%;
  height: 3em;
  padding: 0.5em;
  font-size: 1.25;
  font-weight: 200;
  margin-top: 0.5em;
}

body main section.preRegister div button:hover {
  font-weight: 400;
  border: 1px solid white;
  cursor: pointer;
}

body main div.preRegisterside {
  position: relative;
}

body main div.preRegisterSide img {
  width: 40dvw;
  position: absolute;
  top: calc(50% - 20dvw);
  left: calc(25% - 20dvw);
}

body main section.questionStarterTop {
  width: 100%;
  height: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

body main section.questionStarterTop p {
  max-width: 50%;
  font-size: 1.25rem;
  color: var(--font-form-p);
  font-weight: 400;
  margin: var(--font-form-p-margin);
  text-align: center;
}

body main section.registerStart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

body main section.registerStart div {
  display: flex;
  gap: 4em;
  margin-top: 1em;
}

body main section.registerStart a {
  width: 15em;
  height: 15em;
  position: relative;
  background-color: #ffffff;
  border: 0.35em solid #714eb6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 300ms ease-in-out;
}

body main section.registerStart a:hover {
  border: 0.5em solid #714eb6;
  transform: scale(1.15);
}

body main section.registerStart a span {
  font-size: var(--font-size-h2);
  color: var(--font-color-header);
  margin-top: auto;
  position: absolute;
  bottom: -2em;
  font-weight: bold;
}

body main section.registerStart a img {
  width: 75%;
}

body main section.studentReg {
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  transform: scale(0.9);
}

body main section.studentReg p {
  max-width: 50%;
  font-size: 1.25rem;
  color: var(--font-form-p);
  font-weight: 400;
  margin: var(--font-form-p-margin);
  text-align: center;
}

body main section.studentReg form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body main section.studentReg form section {
  position: relative;
}

body main section.studentReg form section h2 {
  font-size: var(--font-size-h2);
  color: var(--font-color-header);
  font-weight: bold;
  margin: var(--font-form-p-margin);
  text-align: center;
}

body main section.studentReg form section input[type="text"] {
  width: 40em;
  height: 3em;
  padding: 0.25em;
  font-size: 1.25;
  font-weight: 200;
  margin-top: 1em;
  border: 0.125em solid var(--font-color-header);
  border-radius: 2.5em;
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  color: var(--font-color-body);
}

body main section.studentReg form section input[type="text"]:focus {
  border: 0.25em solid var(--font-color-header);
  outline: none;
}

body main section.studentReg form section button {
  position: absolute;
  background-color: #714eb6;
  border: none;
  color: #ffffff;
  padding: 0.5em;
  font-size: 1.25;
  border-radius: 2.5em;
  opacity: 0.75;
}

body main section.studentReg form section button:hover {
  opacity: 1;
}

body main section.studentReg form section:nth-of-type(1) button,
body main section.studentReg form section:nth-of-type(2) button,
body main section.studentReg form section:nth-of-type(4) button {
  top: 4.3em;
  right: 1em;
}

body main section.studentReg form section:nth-of-type(5) button {
  top: 9.2em;
  right: 1em;
}

body main section.studentReg form section:nth-of-type(3) label {
  position: relative;
}

body main section.studentReg form section:nth-of-type(3) label:nth-of-type(1) {
  margin-left: 4em;
}

body
  main
  section.studentReg
  form
  section:nth-of-type(3)
  label
  input[type="radio"] {
  border: 0.125em solid var(--font-color-header);
  border-radius: 50%;
  width: 4em;
  height: 4em;
  appearance: none;
}

body
  main
  section.studentReg
  form
  section:nth-of-type(3)
  label
  input[type="radio"]:checked {
  border: 0.25em solid var(--font-color-header);
  background-color: var(--font-color-header);
}

body main section.studentReg form section:nth-of-type(3) label span {
  position: absolute;
  top: -1.1em;
  left: 0.55em;
  font-size: 2rem;
  color: var(--font-color-header);
  z-index: -1;
}

body
  main
  section.studentReg
  form
  section:nth-of-type(3)
  label:nth-of-type(1)
  span {
  left: 0.7em;
}

body main section.studentReg form section input[type="email"] {
  width: 40em;
  height: 3em;
  padding: 0.25em;
  font-size: 1.25;
  font-weight: 200;
  margin-top: 1em;
  border: 0.125em solid var(--font-color-header);
  border-radius: 2.5em;
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  color: var(--font-color-body);
}

body main section.studentReg form section input[type="email"]:focus {
  border: 0.25em solid var(--font-color-header);
  outline: none;
}

body main section.studentReg form section:nth-of-type(5) div {
  display: flex;
  flex-direction: column;
}

body main section.studentReg form section input[type="password"] {
  width: 40em;
  height: 3em;
  padding: 0.25em;
  font-size: 1.25;
  font-weight: 200;
  margin-top: 1em;
  border: 0.125em solid var(--font-color-header);
  border-radius: 2.5em;
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  color: var(--font-color-body);
}

body main section.studentReg form section input[type="password"]:focus {
  border: 0.25em solid var(--font-color-header);
  outline: none;
}

body
  main
  section.studentReg
  form
  section:nth-of-type(3)
  label
  input[type="radio"]:checked
  + span {
  color: #ffffff;
  z-index: 1;
}

body main section.studentReg form section:nth-of-type(3) button {
  top: 7em;
  left: calc(50% - 3em);
}

body main section.studentReg form input[type="submit"] {
  background-color: #714eb6;
  border: none;
  color: #ffffff;
  padding: 0.5em;
  font-size: 1.5em;
  border-radius: 2.5em;
  opacity: 0.75;
  margin-top: 1em;
  margin-bottom: 1em;
  transition: 150ms ease-in-out;
}

body main section.studentReg form input[type="submit"]:hover {
  opacity: 1;
  transform: scale(1.1);
}

.displaynone {
  display: none !important;
}

/* css van Bart */

form.vakken {
  margin: 0;
}

form.vakken ul {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-content: flex-start;
}

.vakken li {
  /* set default opacity */
  opacity: 0.5;

  /* set opacity based on position in list */
  --min-opacity: 0.5;
  --max-opacity: 1;
  --var-opacity: calc(var(--max-opacity) - var(--min-opacity));
  --opacity-increment: calc(var(--var-opacity) / (var(--n) - 1));
  opacity: calc(var(--min-opacity) + var(--opacity-increment) * var(--i));

  /* other styles */
  background-color: var(--filter-li-bg);
  color: white;
  width: auto;
  text-align: center;
  padding: 4em;
  border-radius: 20px;
  text-transform: uppercase;
  margin: 1em;
  max-width: 16em;
  min-width: 16em;
  height: 16em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  aspect-ratio: 1;
}

.vakken li:hover {
  opacity: 1;
  background-color: #1f0a46;
  transition: 0.5s;
}

form.vakken ul li.selected {
  background-color: #1f0a46;
  opacity: 1;
}

.vakken li:first-of-type {
  opacity: 0.45;
}

body main.filter button {
  background-color: #7353d1;
  color: #ffffff;
  padding: 1em;
  border-radius: 2em;
  margin-right: 3em;
  border: none;
  opacity: 0.5;
  transition: opacity 0.5s;
}

body main.filter button:hover {
  background-color: #390088;
  opacity: 1;
}

body main.filter button.active {
  background-color: #390088;
  opacity: 1;
}

body main.filter button.selected {
  opacity: 1;
}

body main.filter section {
  margin: 1em;
}

body main.filter section p,
body main.filter form {
  display: inline-block;
  margin-right: 3em;
}

body main.filter p:last-of-type {
  display: block;
}

body main.filter span {
  display: block;
  color: #714eb6;
}

body main.filter .error {
  margin-left: 0.5em;
  font-size: 2em;
}

body main.filter form.vakken .next {
  position: absolute;
  top: 9em;
  right: 12em;
  display: block;
  opacity: 1;
}

body.hasJavascript main.filter .next {
  position: absolute;
  top: 9em;
  right: 12em;
  display: none;
  opacity: 1;
}

/* Css van Ali */
.body-overflow-hidden::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  animation-name: magic;
  animation-duration: 0.5s;
  z-index: 9;
  animation-fill-mode: forwards;
  pointer-events: none;
}

.themeBuilder section {
  display: flex;
}

.themeBuilder section section:first-of-type {
  flex-direction: column;
  background-color: white;
  height: auto;
  width: 17%;
  padding: 10px;
  border-right: 8px solid var(--font-color-header);
}

.themeBuilder section section:first-of-type img {
  width: 70%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  border-radius: 10em;
  border: var(--font-color-header) 0.5em solid;
}

.themeBuilder section section:first-of-type h1 {
  color: var(--font-color-body);
  font-weight: 600;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}

.themeBuilder section section:first-of-type p {
  text-align: center;
}

.themeBuilder section section:first-of-type a {
  margin-top: auto;
  max-width: 80%;
  padding: 0.5em 2em 0.5em 2em;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
  background-color: var(--font-color-header);
  text-decoration: none;
  border-radius: 100px;
  margin-bottom: 7em;
  transition: 0.5s;
}

.themeBuilder section section:first-of-type a:hover {
  background-color: #43267d;
  transition: 0.5s;
}

.themeBuilder section section:nth-of-type(2) {
  flex-direction: column;
  background: #e7e0fd;
  width: 15%;
  overflow: hidden;
  height: 785px;
  border-right: var(--font-color-header) 0.5em solid;
}

.themeBuilder section section:nth-of-type(2) a {
  background-color: transparent;
  border: none;
  color: black;
  transition: 0.5s;
  border-bottom: var(--font-color-header) 0.2em solid;
  font-family: var(--font-size-h2);
  font-weight: 700;
  padding: 1em;
  text-align: center;
}

.themeBuilder section section:nth-of-type(2) div {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 100%;
}

.themeBuilder section section:nth-of-type(2) div button {
  background-color: transparent;
  border: none;
  color: white;
  transition: 0.5s;
  border-bottom: white 1px solid;
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  padding: 1em;
}

.themeBuilder section section:nth-of-type(2) a:nth-of-type(1):hover {
  background-color: #120418;
  color: #d289ff;
  transition: 0.5s;
  font-size: 1em;
}

.themeBuilder section section:nth-of-type(2) a:nth-of-type(2):hover {
  background-color: #120418;
  color: #d289ff;
  transition: 0.5s;
  font-size: 1em;
}

.themeBuilder form {
  margin-top: 1em;
  width: 24%;
  margin-left: 3em;
  margin-right: 0em;
}

.themeBuilder .done {
  margin-top: 4 em;
  width: 24%;
  margin-left: 3em;
  margin-right: 0em;
}

.themeBuilder .done li {
  list-style-type: none;
  margin-top: 1em;
}

.themeBuilder .done li:last-of-type {
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 2em;
}

.themeBuilder .done button {
  padding: 1em 3em 1em 3em;
  border: none;
  color: red;
  font-family: "Alegreya SC", serif;
  transition: 0.5s;
  border: 1px solid #ccc;
}

.themeBuilder .done button:hover {
  padding: 1em 3em 1em 3em;
  border: none;
  color: white;
  background-color: red;
  font-family: "Alegreya SC", serif;
  box-shadow: red 0px 10px 50px;
  transition: 0.5s;
}

.themeBuilder form img {
  width: 80%;
}

.themeBuilder form label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-family: var(--font-size-h2);
  color: var(--font-color-header);
}

input[type="file"] {
  display: none;
}

.themeBuilder form label:nth-of-type(5) {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 10px 12px;
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  transition: 0.5s;
  width: 61%;
}

.themeBuilder form label:nth-of-type(2) {
  margin-top: 1em;
}

.themeBuilder form label:nth-of-type(3) {
  margin: 1em 0em 0.5em 0em;
}

.themeBuilder form label:nth-of-type(5):hover {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 10px 12px;
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  color: white;
  transition: 0.5s;
  background-color: rgb(25, 23, 51);
}

.themeBuilder form input:last-of-type {
  padding: 1.5em;
  color: white;
  background-color: #281a3b;
  border: none;
  width: 66.6%;
  font-family: "Playfair Display SC", serif;
  font-weight: 500;
}

.themeBuilder form select {
  width: 20em;
  padding: 0.5em;
  border-radius: 2em;
  border: var(--font-color-header) 0.2em solid;
  margin: 0 0 1em 0;
}

.themeBuilder form button {
  width: 15.7em;
  padding: 1.5em;
  background-color: var(--font-color-header);
  color: var(--background-color);
  font-family: var(--font-size-h2);
  font-weight: 500;
  font-size: 1em;
  transition: 0.5s;
  border-radius: 2em;
  border: none;
  margin: 0.3em 0 0 0;
  text-transform: uppercase;
  transition: 0.5s;
}

.themeBuilder form button:hover {
  background-color: #34156f;
  transition: 0.5s;
}

.themeBuilder form input:first-of-type {
  width: 22.5em;
  border-radius: 2em;
  height: 2em;
  border: var(--font-color-header) 0.2em solid;
  margin: 0.5em 0em 0.5em 0em;
  padding-left: 0.4em;
}

.themeBuilder form input:nth-of-type(2) {
  width: 20em;
  height: 20em;
  margin-top: 0.5em;
}

.themeBuilder form input:nth-of-type(3) {
  width: 20em;
  height: 3em;
  margin-top: 0.5em;
}

input[type="color"] {
  padding: 0;
  margin: 0;
  box-shadow: none;
  border-radius: 100px;
  background: none;
  margin-bottom: 0;
}

.themeBuilder form input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.themeBuilder form input[type="color"]::-webkit-color-swatch {
  border: var(--font-color-header) 0.3em solid;
  border-radius: 1.5em;
}

.themeBuilder section section:nth-of-type(3) {
  display: inline-block;
}

.themeBuilder section section:nth-of-type(3) section {
  border: solid 0.3em var(--font-color-header);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.059);
  width: 500px;
  height: 380px;
  border-radius: 30px;
  background-color: #f2ebff;
}

.themeBuilder section section:nth-of-type(3) ul {
  display: flex;
  font-size: 0.7em;
}

.themeBuilder section section:nth-of-type(3) ul li {
  list-style-type: none;
  color: white;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 2em;
  margin-top: 1em;
}

.themeBuilder section section:nth-of-type(3) ul li:first-of-type {
  margin-left: 1em;
  background-color: #6f45d0;
}

.themeBuilder section section:nth-of-type(3) ul li:nth-of-type(2) {
  margin-left: 2em;
  margin-right: 2em;
  background-color: #4c298d;
}

.themeBuilder .fb-post-streep {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.1em solid #714eb6;
  margin-top: 1em;
}

.themeBuilder section section:nth-of-type(3) .fb-post-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.625em;
  max-width: auto;
  flex-wrap: wrap;
  /* zorgt ervoor dat de elementen onder elkaar gaan als ze niet meer passen */
}

.themeBuilder section section:nth-of-type(3) .fb-post-header img {
  margin-right: 0.625em;
  width: 10%;
  border: 0.2em solid purple;
  flex-basis: 10%;
  margin-left: 0;
  margin-bottom: 2em;
  margin-top: 1.5em;
}

.themeBuilder section section:nth-of-type(3) .fb-post-header-info {
  display: flex;
  flex-direction: column;
  /* zorgt ervoor dat de elementen onder elkaar staan */
  flex-basis: 80%;
  /* definieert de breedte van het element */
}

.themeBuilder section section:nth-of-type(3) .fb-post-header h3 {
  font-size: 0.8125em;
  margin-bottom: -0.0375em;
  font-weight: 600;
  margin-top: 2em;
}

.themeBuilder section section:nth-of-type(3) .fb-post-header p {
  color: black;
  font-size: 0.625em;
  margin: 0;
  text-align: left;
}

.themeBuilder section section:nth-of-type(3) .fb-post-header p:nth-of-type(2) {
  color: #b38aff;
  font-size: 0.5em;
  margin: 0;
  margin-bottom: -0.03125em;
  text-align: left;
}

.themeBuilder section section:nth-of-type(3) ul li:last-of-type {
  background-color: #34156f;
}

.themeBuilder section section:nth-of-type(3) .fb-post-content {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  border: none;
  margin: 0;
}

.themeBuilder section section:nth-of-type(3) .fb-post-content p {
  margin-bottom: 0.625em;
  font-size: 0.9em;
}

.themeBuilder section section:nth-of-type(3) .fb-post-content img {
  max-width: 100%;
  margin-bottom: 0.625em;
  border: none;
}

.themeBuilder section section:nth-of-type(3) .fb-post-content a {
  color: #000000;
  font-size: 0.8em;
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  margin: 0;
  justify-content: start;
  max-width: fit-content;
  margin-top: 1em;
}

.themeBuilder section section:nth-of-type(3) .fb-post-content a img {
  width: 1em;
  height: 1em;
  margin-right: 0.3125em;
  margin-top: 0.3125em;
}

.themeBuilder section section:nth-of-type(3) .fb-post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.063em solid #714eb6;
  padding-top: 0.625em;
  margin-top: 0.625em;
  width: 100%;
  max-height: fit-content;
}

.themeBuilder section section:nth-of-type(3) .fb-post-footer a {
  display: flex;
  /* hier is de verandering */
  color: black;
  font-weight: 600;
  font-size: 0.8em;
  text-decoration: none;
  transition: color 0.3s ease;
  align-items: center;
  padding: 0;
  background-color: transparent;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0.5em;
}

.themeBuilder section section:nth-of-type(3) .fb-post-footer img {
  width: 2em;
  border: none;
  margin: 0 1em 0 0;
}

.themeBuilder section section:nth-of-type(3) .fb-post-footer a:hover {
  color: #d3bcff;
}

.themeBuilder img {
  transition: 1s ease-out;
}

.themeBuilder .leftmainsection,
.themeBuilder .rightmainsection {
  transition: background-color 1s ease-out;
}

.themeBuilder .leftmainsection {
  background-color: white;
}

.themeBuilder .rightmainsection {
  background-color: white;
}

.themeBuilder .magic-effect {
  background-color: white;
  opacity: 0;
  animation-name: magic;
  animation-delay: 1s;
  animation-duration: 2s;
  display: none;
  /* Hide the page until the animation completes */
}

/* Ufuk styling */
body main section.sidebar {
  height: 100vh;
  width: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: start;
  box-shadow: #3900882f 2px 2px 20px;
  font-family: Helvetica, sans-serif;
  margin-bottom: 40em;
}

.profileButton {
  color: var(--purple-button);
  border: 0.2em solid var(--purple-button);
}

.messageButton {
  margin-top: 1em;
  color: var(--white);
  background-color: var(--purple-button);
}

section.sidebar ul {
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 0;
}

section.sidebar ul li {
  margin-top: 3em;
  text-align: center;
  list-style: none;
}

section.sidebar ul li img {
  max-width: 9em;
  text-align: center;
  background-color: var(--purple-button);
  border-radius: 5em;
}

section.sidebar ul li:nth-child(3) {
  margin-top: 1em;
}

section.sidebar ul li:nth-child(2) {
  margin-top: 0;
}

section.sidebar ul li:last-child {
  margin-top: 0em;
}

section.sidebar ul li a {
  padding: 1em 2em 1em 2em;
  border-radius: 2em;
  text-align: center;
}

body main section.agenda {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: 40%;
  height: 90vh;
  background-color: var(--purple-shade);
  align-items: start;
  position: absolute;
  top: 10%;
  padding-top: 2em;
  font-family: Helvetica, sans-serif;
  align-items: center;
  overflow-y: scroll;
  padding-bottom: 10em;
}

body main section.agenda h2 {
  padding-top: 1em;
  margin-bottom: 0em;
}

body main section.agenda ul {
  position: relative;
  padding: 0;
  width: 80%;
  padding-bottom: 5em;
}

body main section.agenda ul li {
  position: relative;
  padding: 1em;
  border-radius: 2em;
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  box-shadow: #3900882f 2px 2px 20px;
  margin-top: 2em;
}

body main section.agenda ul li article > h3 {
  margin-top: 0.5em;
  margin-bottom: 0;
}

body main section.agenda ul li article:nth-child(even) {
  margin-top: 1.5em;
}

body main section.agenda ul li a {
  position: absolute;
  color: #7353d1;
  background-color: var(--white);
  border: 0.2em solid var(--purple-button);
  padding: 1em 2em 1em 2em;
  border-radius: 2em;
  top: 3.5em;
  right: 2em;
}

body main section.agenda ul li article > p {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0;
}

body main section.agenda ul li img {
  max-width: 5em;
}

body main section.recStuds {
  display: inline-flex;
  flex-direction: column;
  width: 40%;
  height: 90vh;
  background-color: var(--purple-button);
  align-items: start;
  position: absolute;
  right: 0em;
  top: 10%;
  padding-top: 3em;
  font-family: Helvetica, sans-serif;
  align-items: center;
  overflow-y: scroll;
  padding-bottom: 10em;
}

body main section.recStuds a {
  color: var(--white);
  padding: 1em 2em 1em 2em;
  border: 0.2em solid var(--white);
  border-radius: 2em;
}

body main section.recStuds a.addVakken {
  position: relative;
  padding: 0.5em 1em 0.5em 1em;
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

body main section.recStuds h2 {
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
}

body main section.recStuds p {
  margin: 0;
  font-size: 1.2em;
  text-align: center;
  color: var(--white);
}

body main section.recStuds ul {
  padding: 0;
}

body main section a {
  text-decoration: none;
}

body main section.recStuds ul:nth-of-type(1) {
  display: flex;
  list-style-type: none;
  gap: 0.5em;
}

body main section.recStuds ul:nth-of-type(1) li {
  border: 0.2em solid var(--white);
  border-radius: 2.5em;
  color: white;
  padding: 1em;
  margin-bottom: 1em;
}

.likedStudsStyle {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 4fr;
  border-radius: 2em;
  background-color: var(--white);
  margin-bottom: 2em;
  width: 30em;
  height: 12em;
  padding: 1em 1em 1em 1em;
}

body main section.recStuds ul:nth-of-type(2) li {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 4fr;
  border-radius: 2em;
  background-color: var(--white);
  margin-bottom: 2em;
  width: 30em;
  height: 12em;
  padding: 1em 1em 1em 1em;
}

body main section.recStuds li article > h3 {
  color: var(--black);
  margin-bottom: 0.4em;
  margin-top: 0;
}

body main section.recStuds li article > p {
  text-align: left;
  color: var(--black);
  margin-bottom: 0.4em;
  margin-top: 0.3em;
}

body main section.recStuds li article > h4 {
  color: var(--purple-button);
  margin-bottom: 0.4em;
  margin-top: 0;
  display: inline;
}

body main section.recStuds li article form button {
  text-align: center;
  display: inline-block;
  padding: 1em 2em 1em 2em;
  border-radius: 2em;
  font-weight: 600;
  border: 0.2em solid var(--purple-button);

  background-color: var(--purple-button);
  color: var(--white);
  vertical-align: middle;
  line-height: 22px;
}

body main section.recStuds li article a {
  background-color: var(--white);
  color: var(--purple-button);
  border: 0.2em solid var(--purple-button);
  margin-left: 1em;
}

body main section.recStuds li > img {
  max-width: 8em;
  margin-right: 2em;
  border-radius: 2em;
}

#unlikeBtn {
  background-color: var(--unlike);
}

@keyframes magic {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(-20px) rotate(10deg);
  }

  100% {
    transform: translateY(0) rotate(-10deg);
  }
}

:root {
  --font-main: "Poppins", sans-serif;
  --font-size-h1: 2em;
  --font-size-h2: 1.5em;
  --font-header-margin: 0.5em 0;
  --font-weight-header: bold;
  --font-color-header: #714eb6;
  --font-size-body: 0.875em;
  --font-color-body: #000000;
  --font-weight-body: 400;
  --background-color: #ffffff;
  --font-form-p: #707070;
  --font-form-p-margin: 0.25em 0;
  --filter-li-bg: #714eb6;
  --purple-button: #7353d1;
  --purple-shade: #f2eeff;
  --white: #fff;
  --black: black;
  --white-tint: #e2e2e2;
  --unlike: #9182c0;
  --color-bottom-chat: #714eb6;
  --color-chat-message: #714eb6;
  --font-color-chat: #714eb6;
}

body main.chat section.chat_window {
  position: absolute;
  width: calc(100% - 20px);
  max-width: 800px;
  height: 500px;
  border-radius: 10px;
  background-color: var(--background-color);
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
  border: 20px solid var(--color-bottom-chat);
  border-bottom: none;
}

body main.chat section.chat_window .top_chat_window {
  background-color: var(--background-color);
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

body main.chat section.chat_window .top_chat_window .title {
  text-align: center;
  color: var(--font-color-header);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-header);
}

body main.chat section.chat_window .messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 5em 10px;
  margin: 0;
  height: 347px;
  overflow: scroll;
}

body main.chat section.chat_window .messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}

body main.chat section.chat_window .messages .message.appeared {
  opacity: 1;
}

body main.chat section.chat_window .messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}

body main.chat section.chat_window .messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}

body main.chat section.chat_window .messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}

body section.chat_window .messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}

body main.chat section.chat_window .bottom_chat_window {
  position: relative;
  width: 100%;
  background-color: var(--color-bottom-chat);
  padding: 10px 10px;
  position: absolute;
  bottom: 0;
}

body main.chat section.chat_window .bottom_chat_window .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid var(--white-tint);
  background-color: var(--background-color);
  width: calc(100% - 160px);
  position: relative;
  padding: 0 20px;
}

body
  main.chat
  section.chat_window
  .bottom_chat_window
  .message_input_wrapper:hover,
body
  main.chat
  section.chat_window
  .bottom_chat_window
  .message_input_wrapper
  .message_input:hover {
  background-color: var(--white-tint);
}

body
  main.chat
  section.chat_window
  .bottom_chat_window
  .message_input_wrapper
  .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: var(--font-color-chat);
}

body main.chat section.chat_window .bottom_chat_window .send_message {
  width: 70px;
  float: right;
  margin-right: 1.5em;
}

body main.chat section.chat_window .bottom_chat_window .send_message button {
  border-radius: 100%;
  background-color: var(--background-color);
  border: 2px solid var(var(--background-color));
  color: var(--font-color-header);
  cursor: pointer;
  transition: all 0.2s linear;
}

body
  main.chat
  section.chat_window
  .bottom_chat_window
  .send_message
  button
  img {
  width: 50px;
  height: 50px;
}

body
  main.chat
  section.chat_window
  .bottom_chat_window
  .send_message
  button:hover {
  color: var(--white-tint);
  border: var(--white) solid 2px;
  background-color: var(--white-tint);
}

body main.chat section.chat_window .bottom_chat_window .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

body main.chat section.chat_window .message_template {
  display: none;
}

body main.chat section.chat_window .messages > li {
  font-size: 1em;
  color: var(--white);
  background: var(--color-chat-message);
  padding: 0.5em;
  border-radius: 0.5em;
  width: fit-content;
}

body main.chat section.chat_window .messages > span {
  font-size: 10px;
  font-style: bold;
}
